body{
    background: bisque url("images/background2.png") repeat;
    background-size: 150px 150px;
    background-position: right center;
}

h1{
    color: indianred;
}

form{
    text-align: center;
  border: 1px solid indianred;
}

